&gpio0 {
	status = "okay";
};

/ {
	aliases {
		plcin1 = &x001_button;
		plcin2 = &x002_button;
		plcout1 = &y001_led;
	};

	gpio_keys {
		compatible = "gpio-keys";
		x001_button: x001 {
			gpios = <&gpio0 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "X001";
		};
		x002_button: x002 {
			gpios = <&gpio0 14 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "X002";
		};
	};

	leds {
		compatible = "gpio-leds";
		y001_led: y001 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "Y001";
		};
	};
};